body {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#page_content {
    height: 93%;
    width: 100%;
    top: 7%;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    
    padding-left: 10px;
}

.play_badges {
    width: 200px;
    height: 60px;
}