#page_header {
    height: 7em;
    width: 100%;
    position: fixed;
    margin-left: -0.5em;
    margin-top: -7.5em;
    background-color: transparent;
}

#page_content{
    height: auto;
    width: 100%;
    overflow: auto;
    margin: 7em auto;
}

#MainTitle {
	font-size: 3em;
	font-family: Trebuchet MS, Calibri Light;
	text-align: center;
	display: block;
	padding-bottom: 0.5%;
	margin: auto;
    margin-left: 0.5em;
    margin-top: 0.1em;
}

#SubTitle {
	text-align: right;
	font-family: Calibri;
	margin-right: 20px;
}

body {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}